.text-grey {
  color: grey; }

.h1, .h1Contacto {
  animation-name: textAlpha;
  animation-duration: 8s; }

h1,
h2,
h3 {
  color: #515a56; }

p {
  color: #939292;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 300; }

.divCenter {
  text-align: center; }

.mainOsteopatia {
  display: flex; }

form {
  width: 40%;
  background-color: #ede6e6;
  height: auto;
  margin: 15px auto;
  border-top: solid #c0d3cb 7px;
  border-right: solid grey 1px;
  border-bottom: solid grey 1px;
  border-left: solid grey 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

iframe {
  width: 90%;
  height: 20vh; }

form div {
  padding: 5px;
  font-size: 15px; }

.text-input {
  display: flex;
  flex-direction: column; }

.mapa {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 40px; }

.textBlack {
  color: black; }

.background-light {
  background-color: #ede6e6; }

.detalle__articulo {
  border-top: solid #c0d3cb 7px;
  margin-bottom: 40px;
  width: 90%;
  margin: 0 auto;
  padding: 15px; }

.detalle__tratamiento {
  border-top: solid #c0d3cb 7px;
  margin-bottom: 40px;
  margin: 0 auto;
  padding: 15px; }

.detalleArticulo2 {
  width: 70%;
  height: auto;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  margin: 15px auto;
  border-top: solid #c0d3cb 7px;
  border-right: solid grey 1px;
  border-bottom: solid grey 1px;
  border-left: solid grey 1px; }

.transform:hover {
  transform: translatey(-12px);
  cursor: pointer; }

@keyframes textAlpha {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media screen and (max-width: 1060px) {
  form {
    width: 90%; } }

.imgLogo {
  width: 180px; }

body {
  background-image: url(../css/img/ki4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }

.encabezado__img--fluid {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 40px;
  padding: 10px; }

div img {
  width: 100%; }

aside {
  width: 85%;
  margin: auto;
  margin-bottom: 30px; }

#galeria .col-lg-4 {
  margin: o !important;
  padding: 15px; }

#galeria img {
  width: 100%; }

#galeria img:hover {
  border: 5px solid #f7f7f7; }

.bg-colorG {
  background: #c0d3cb; }

#antiScroll {
  margin: auto; }

section {
  width: 80%;
  height: auto;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  margin: 15px auto;
  margin-bottom: 40px;
  border-top: solid #c0d3cb 7px;
  border-left: solid grey 1px; }

.pie {
  background: #c0d3cb; }

.pie__titulo--md {
  font-size: 1.5rem; }

.pie__icon--sm {
  width: 40px; }

.scale:hover {
  transform: scalex(0.7);
  cursor: pointer;
  transition: transform 3s; }

.h1, .h1Contacto {
  animation-name: textAlpha;
  animation-duration: 8s; }

.h1Contacto {
  text-align: center; }

h1 {
  text-align: textAlign;
  color: color;
  padding: 20px; }

.pie {
  background-color: #c0d3cb; }
